body{
  background-image: linear-gradient(
    to right,
    rgb(231, 181, 227),
    rgb(15, 218, 218)
  );
  color: white;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-row-space{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.user-info-container{
  display: flex;
  justify-content: end;
  margin-right: 5%;
  margin-bottom: 20px;
}
.navbar-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-left:5%;
}
.section-container{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 10%;
  /* align-items: center; */
}
.pointer{
  cursor: pointer;
}
.links{
  color: rgb(36, 149, 214);
  font-weight: bolder;
  font-size: large;
  text-decoration: none;
  margin-right: 50px;
}
.selects{
  width: 200px;
}
.card{
  width: 18rem;
}
.btn-integrations{
  margin: 10px;
}
.btn-specialistie{
  margin: 5px;
}